<div>
  <h2 id="page-heading" data-cy="MissionHeading">
    <span jhiTranslate="pawpatrolmanagerApp.mission.home.title">Missions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pawpatrolmanagerApp.mission.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mission"
        [routerLink]="['/mission/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pawpatrolmanagerApp.mission.home.createLabel"> Create a new Mission </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="missions?.length === 0">
    <span jhiTranslate="pawpatrolmanagerApp.mission.home.notFound">No missions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="missions && missions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pawpatrolmanagerApp.mission.name">Name</span></th>
          <th scope="col"><span jhiTranslate="pawpatrolmanagerApp.mission.date">Date</span></th>
          <th scope="col"><span jhiTranslate="pawpatrolmanagerApp.mission.description">Description</span></th>
          <th scope="col"><span jhiTranslate="pawpatrolmanagerApp.mission.missionLocation">Mission Location</span></th>
          <th scope="col"><span jhiTranslate="pawpatrolmanagerApp.mission.victims">Victims</span></th>
          <th scope="col"><span jhiTranslate="pawpatrolmanagerApp.mission.saviors">Saviors</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mission', mission.id, 'view']">{{ mission.id }}</a>
          </td>
          <td>{{ mission.name }}</td>
          <td>{{ mission.date | formatMediumDate }}</td>
          <td>{{ mission.description }}</td>
          <td>
            <div *ngIf="mission.missionLocation">
              <a [routerLink]="['/place', mission.missionLocation?.id, 'view']">{{ mission.missionLocation?.name }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let victims of mission.victims; let last = last">
              <a class="form-control-static" [routerLink]="['/client', victims.id, 'view']">{{ victims.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let saviors of mission.saviors; let last = last">
              <a class="form-control-static" [routerLink]="['/dog', saviors.id, 'view']">{{ saviors.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mission', mission.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mission', mission.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mission)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
