<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicle">
      <h2 data-cy="vehicleDetailsHeading"><span jhiTranslate="pawpatrolmanagerApp.vehicle.detail.title">Vehicle</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vehicle.id }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.vehicle.name">Name</span></dt>
        <dd>
          <span>{{ vehicle.name }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.vehicle.description">Description</span></dt>
        <dd>
          <span>{{ vehicle.description }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.vehicle.owner">Owner</span></dt>
        <dd>
          <div *ngIf="vehicle.owner">
            <a [routerLink]="['/dog', vehicle.owner?.id, 'view']">{{ vehicle.owner?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicle', vehicle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
