<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mission-heading" data-cy="MissionCreateUpdateHeading" jhiTranslate="pawpatrolmanagerApp.mission.home.createOrEditLabel">
        Create or edit a Mission
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pawpatrolmanagerApp.mission.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pawpatrolmanagerApp.mission.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pawpatrolmanagerApp.mission.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pawpatrolmanagerApp.mission.missionLocation" for="field_missionLocation"
            >Mission Location</label
          >
          <select
            class="form-control"
            id="field_missionLocation"
            data-cy="missionLocation"
            name="missionLocation"
            formControlName="missionLocation"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                placeOption.id === editForm.get('missionLocation')!.value?.id ? editForm.get('missionLocation')!.value : placeOption
              "
              *ngFor="let placeOption of placesSharedCollection; trackBy: trackPlaceById"
            >
              {{ placeOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="pawpatrolmanagerApp.mission.victims" for="field_victims">Victims</label>
          <select class="form-control" id="field_victims" data-cy="victims" multiple name="victims" formControlName="victims">
            <option
              [ngValue]="getSelectedClient(clientOption, editForm.get('victims')!.value)"
              *ngFor="let clientOption of clientsSharedCollection; trackBy: trackClientById"
            >
              {{ clientOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="pawpatrolmanagerApp.mission.saviors" for="field_saviors">Saviors</label>
          <select class="form-control" id="field_saviors" data-cy="saviors" multiple name="saviors" formControlName="saviors">
            <option
              [ngValue]="getSelectedDog(dogOption, editForm.get('saviors')!.value)"
              *ngFor="let dogOption of dogsSharedCollection; trackBy: trackDogById"
            >
              {{ dogOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['saviors'])!.invalid && (editForm.get(['saviors'])!.dirty || editForm.get(['saviors'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['saviors'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
