<div>
  <h2 id="page-heading" data-cy="PlaceHeading">
    <span jhiTranslate="pawpatrolmanagerApp.place.home.title">Places</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pawpatrolmanagerApp.place.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-place"
        [routerLink]="['/place/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pawpatrolmanagerApp.place.home.createLabel"> Create a new Place </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="places?.length === 0">
    <span jhiTranslate="pawpatrolmanagerApp.place.home.notFound">No places found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="places && places.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pawpatrolmanagerApp.place.name">Name</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let place of places; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/place', place.id, 'view']">{{ place.id }}</a>
          </td>
          <td>{{ place.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/place', place.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/place', place.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(place)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
