<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dog-heading" data-cy="DogCreateUpdateHeading" jhiTranslate="pawpatrolmanagerApp.dog.home.createOrEditLabel">
        Create or edit a Dog
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pawpatrolmanagerApp.dog.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pawpatrolmanagerApp.dog.speciality" for="field_speciality">Speciality</label>
          <input
            type="text"
            class="form-control"
            name="speciality"
            id="field_speciality"
            data-cy="speciality"
            formControlName="speciality"
          />
          <div *ngIf="editForm.get('speciality')!.invalid && (editForm.get('speciality')!.dirty || editForm.get('speciality')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('speciality')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pawpatrolmanagerApp.dog.breed" for="field_breed">Breed</label>
          <input type="text" class="form-control" name="breed" id="field_breed" data-cy="breed" formControlName="breed" />
          <div *ngIf="editForm.get('breed')!.invalid && (editForm.get('breed')!.dirty || editForm.get('breed')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('breed')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
