<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dog">
      <h2 data-cy="dogDetailsHeading"><span jhiTranslate="pawpatrolmanagerApp.dog.detail.title">Dog</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dog.id }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.dog.name">Name</span></dt>
        <dd>
          <span>{{ dog.name }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.dog.speciality">Speciality</span></dt>
        <dd>
          <span>{{ dog.speciality }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.dog.breed">Breed</span></dt>
        <dd>
          <span>{{ dog.breed }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dog', dog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
