<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mission">
      <h2 data-cy="missionDetailsHeading"><span jhiTranslate="pawpatrolmanagerApp.mission.detail.title">Mission</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mission.id }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.mission.name">Name</span></dt>
        <dd>
          <span>{{ mission.name }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.mission.date">Date</span></dt>
        <dd>
          <span>{{ mission.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.mission.description">Description</span></dt>
        <dd>
          <span>{{ mission.description }}</span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.mission.missionLocation">Mission Location</span></dt>
        <dd>
          <div *ngIf="mission.missionLocation">
            <a [routerLink]="['/place', mission.missionLocation?.id, 'view']">{{ mission.missionLocation?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.mission.victims">Victims</span></dt>
        <dd>
          <span *ngFor="let victims of mission.victims; let last = last">
            <a [routerLink]="['/client', victims?.id, 'view']">{{ victims.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="pawpatrolmanagerApp.mission.saviors">Saviors</span></dt>
        <dd>
          <span *ngFor="let saviors of mission.saviors; let last = last">
            <a [routerLink]="['/dog', saviors?.id, 'view']">{{ saviors.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mission', mission.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
